body {
    background-image: url('images/istockphoto-1397600724-612x612.jpg');
}

.display-6 {
    margin-right: 0.5rem;
    font-size: 2rem;
}

.container {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#flexcentre {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#flex {
    display: flex;
}

.btn-danger {
    background-color: #FF5543;
    margin: 0.2rem;
    max-width: 120px;
}

.buttonholder {
    display: flex;
    width: 100%;
    
}

img {
    padding: 1rem;
}

.card {
    margin: 1rem;
}


#carouselExampleAutoplaying {
    
    height: 20rem;
    width: 20rem;
    
}

#HomeSearch {
    margin-bottom: 10rem;
}

#welcome {
    display: flex;
    justify-content: center;
    height: 30rem;
    
}

#bigtext {
    font-size: 100px;
}

#centredcardbody {
    display: flex;
    align-items: center;
    justify-content: center;
}


#sortandfilter {
    display: flex;
    justify-content: space-between;
}

#sorttag {
    margin-right: 30px;
}

#searchbutton {
    display: flex;
}

#redlink {
    color: #FF5543;
}

.navbar{
    padding: 60px 138px;
    background-color: white;
}

.nav-container{
    padding: 0px;
}
#nav{
    justify-content: space-between;
}

.navbar-nav{
    width: 100%;
    justify-content: center;
    --bs-nav-link-hover-color: #FF5543;
    --bs-nav-link-color: black;
}

.nav-item{
    padding: 0% 3%;
    font-size: 20px;
}

.navbar-brand{
    font-weight: bold;
    font-size: 28px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    font-weight: bold;
    color: #FF5543;
}

nav .navbar-text{
    font-size: 20px;
    font-weight: normal;
    color: black;
}

nav .btn-primary {
    --bs-btn-bg:#FF5543;
    --bs-btn-border-color: #FF5543;
    --bs-btn-hover-bg: #FF5543;
    --bs-btn-hover-border-color: #FF5543;
    --bs-btn-active-bg: #FF5543;
    --bs-btn-active-border-color: #FF5543;
    --bs-btn-disabled-bg: #FF5543;
    --bs-btn-disabled-border-color: #FF5543;
}

nav .dropdown-menu[data-bs-popper] {
    left: auto;
    --bs-dropdown-link-active-bg: #FF5543;
}

nav .profile-box .dropdown-menu[data-bs-popper]{
    --bs-dropdown-min-width: 90px;
}

nav .profile-name{
    font-weight: bold;
    padding: 4px 16px 0 16px;
    padding-bottom: 0px;
}

nav .profile-type{
    font-size: small;
    padding: 0 16px 0 16px;
}

nav .profile-edit{
 margin-top: 20%;
}

nav .sign-out{
    margin-top: 5%;
   }

 @media (max-width: 768px) { 
    body {
        padding: 0px 20px;
    }

    .navbar {
        margin: 0px -20px;
        padding: 60px 30%;
    }

    .buttonholder{
        flex-direction: column;
    }

    .btn-danger {
        width: 120px ;
    }

    #responsiveflex{
        display: flex;
        flex-direction: column;
    }

    #detailsbtn {
        width: 80px;
    }

    #adoptbtn {
        width: 80px;
    }

    #bigtext {
        font-size: 30px;
        
    }

 }

 @media (max-width: 992px) { 
    nav .profile-box {
        padding: 8px 0 8px 0;
    }

    nav .nav-item{
        padding-left: 0;
    }

    #bigtext {
        font-size: 80px;
        text-align: center;
    }
 }

