body{
    background-image: url('images/istockphoto-1397600724-612x612.jpg');
}

.box-area{
    width: 800px;
    border-radius: 15px;
    padding: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #FF5543;;
    border-color: #FF5543;;
    height: 50px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #FF5543;;
    border-color: #FF5543;;
}

.btn-primary:active {
    color: #fff;
    background-color: #FF5543;
    border-color: #FF5543;;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #FF5543;
    border-color: #FF5543;
}

a {
    color: #FF5543;
    text-decoration: none;
    background-color: transparent;
}

.title{
    font-weight: bold;
    font-size: 40px;
}

.subtitle{
    font-size: small;
}

.left{
    padding-right: 25px;
}

select{
    padding: 6px 12px 6px 12px;
    width: 100%;
    box-sizing: border-box;
    height: 38px;
    border-color: rgb(206, 212, 218);
    border-radius: 0.25rem;
    color: #495057;
}

textarea.form-control {
    box-sizing: border-box;
    height: 72px;
    resize: none;
}

.ppic{
    width: 100px;
    padding-bottom: 24px;
}

popup-container {
    position: relative;
  }
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    padding: 20px;
    z-index: 1000; 
  }





@media (max-width: 768px) { 
.left{
    padding-right: 0;
}

.box-area{
    margin: 1%;
}
}